<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit your profile</title>
</head>
<body class="ecommerce">
<div th:insert="fragments/navbar.html" th:fragment="navbar"></div>

<div class="main">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <div class="container">
        <div class="content-page" style="margin: auto">

            <div class="row justify-content-center">
                <div class="col-md-7 col-lg-3 mb-5 mb-lg-0 wow fadeIn">
                    <div class="card border-0 shadow">

                        <div th:insert="fragments/user-profile-image.html" th:fragment="image"></div>

                        <div th:insert="fragments/user-profile-menu.html" th:fragment="user-profile-menu"></div>

                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="col-md-12 border-right">
                        <div class="items-table">
                            <br>
                            <h1><strong> Edit your profile</strong></h1>
                            <br>
                            <br>

                            <form th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${userPasswordDto}" method="post">
                                <div class="form-group">
                                    <label for="oldPassword">Current password</label>
                                    <input class="form-control" id="oldPassword" type="password" th:field="*{oldPassword}">
                                    <label class="error error-fields" style="color: lightseagreen" th:errors="*{oldPassword}"></label>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="password">New password</label>
                                    <input class="form-control" id="password" type="password" th:field="*{password}">
                                    <label class="error error-fields" style="color: lightseagreen" th:errors="*{password}"></label>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="passwordConfirm">Confirm password</label>
                                    <input class="form-control" id="passwordConfirm" type="password"
                                           th:field="*{matchingPassword}">
                                    <label class="error error-fields" style="color: lightseagreen" th:errors="*{matchingPassword}"></label>
                                </div>
                                <br>
                                <td><input class="btn btn-success btn-block btn-lg gradient-custom-2 text-body"
                                           role=button type="submit" value="Submit"/>
                                </td>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->
<script type="text/javascript">
    jQuery(document).ready(function () {
        Layout.init();
        Layout.initOWL();
        Layout.initTwitter();
    });
</script>
<!-- END PAGE LEVEL JAVASCRIPTS -->
</body>
</html>