<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Add-on Verified</title>
</head>
<body>
<div th:insert="fragments/navbar.html" th:fragment="navbar"></div>


<div class="main">
    <div class="container">
        <div class="content-page" style="width: 600px; align-items: center; margin: auto">

            <div class="mask d-flex align-items-center h-100">
                <div class="mask d-flex align-items-center h-100">
                    <div class="card-body p-5">
                        <div class="alert alert-success alert-dismissible d-flex align-items-center" role="alert">
                            <br>
                            <h1><i class="fa fa-check-circle"></i>
                                <strong class="mx-2">Add-on is verified!</strong></h1>
                            <hr>
                            <p class="mb-0">Your add-on has been successfully verified!<br>
                                It will be posted on our website after an admin approves it.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>